{% extends "base.html" %}
{% load static %}
{% block title %}
Password Reset
{% endblock title %}

  <!--------------******************---------- BreadCumb Start --------------******************---------->


  {% block content %}

  {% endblock content %}



  <div class="container-fluid">
    <div class="row catergories">
      {% for category in categories  %}
      <div class="col-md-3 col-6 gx-0">
        
        {% if category.icon.url != '' %}          
          <div class="box">
            <a href="{% url 'product-list' category.slug %}">
              <img src="{{category.icon.url}}">
              <p>{{category.name}}</p>
            </a>
          </div>
        {% endif %}

      </div>
      {% endfor %}
    </div>
  </div>
  <!-- catergories Section END -->

  <!-------------******************---------- FOOTER -----------******************---------->

  <div class="container-fluid">
    <div class="row social_icons">
      <div class="col-md-12">
        <div class="container">
          <div class="row py-2">
            <div class="col-md-7 social_text">
              <p>{{footer.footer_title}}</p>
            </div>
            <div class="col-md-5 right_social">
              {% if footer.facebook_link %}
              <a href="{{footer.facebook_link}}" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
              {% endif %}
              {% if footer.twitter_link %}
              <a href="{{footer.twitter_link}}" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
              {% endif %}
              {% if footer.instagram_link %}
              <a href="{{footer.instagram_link}}" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
              {% endif %}
              {% if footer.linkedin_link %}
              <a href="{{footer.linkedin_link}}" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row social_list">
      <div class="col-md-12">
        <div class="container">
          <div class="row list_sides py-4">
            <div class="col-md-3 col-6 lists">
              <h6>Information / Useful Links</h6>
              <ul>
                <li><a href="">Home</a></li>
                <li> <a href="">Shop</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Blogs</a></li>
              </ul>
            </div>
            <div class="col-md-3 col-6 lists">
              <h6>MY ACCOUNT</h6>
              <ul>
                <li><a href="">Login</a></li>
                <li><a href="">Register</a></li>
                <li><a href="{% url 'cart-list' %}">Cart</a></li>
                <li><a href="">Checkout</a></li>
              </ul>
            </div>
            <div class="col-md-3 col-6 lists help">
              <h6>HELP</h6>
              <ul>
                <li><a href="">FAQ's</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Terms and Conditions</a></li>
              </ul>
            </div>
            <div class="col-md-3 col-6 lists contact-info">
              <h6>CONTACT INFO</h6>
              <ul>
                <li class="address">
                  <i class="fas fa-globe-europe"></i>
                  <span>{{footer.office_address}}</span>
                </li>
                <li class="phone"><i class="fas fa-phone-alt"></i>
                  <span><a href="tel:{{footer.phone_no}}">{{footer.phone_no}}</a></span>
                </li>
                <li class="email">
                  <i class="fas fa-envelope"></i>
                  <span><a href="email:{{footer.email}}">{{footer.email}}</a></span>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row footer_last">
      <div class="col-md-12">
        <div class="container">
          <div class="row py-2">
            <div class="col-md-6 footer_left">
              <p>Copyright &copy; 2021 <a href="#">Dolce-e-Fiore </a>All Rights Reserved. | <a href="#">Privacy
                  Policy</a> | <a href="#">Terms and Conditions</a></p>
            </div>
            <div class="col-md-6 footer_right">
              <a href="#">
                <i class="fab fa-cc-visa"></i>
              </a>
              <a href="#">
                <i class="fab fa-cc-paypal"></i>
              </a>
              <a href="#">
                <i class="fab fa-cc-amazon-pay"></i>
              </a>
              <a href="#">
                <i class="fab fa-cc-amazon-pay"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  {% for message in messages  %}

  <div id="msg_alert" class="alert hide">
    <div id="alert-icon"></div>
    <span class="msg" id="msg"> {{message}} </span>
    <div class="close-btn">
      <span class="fas fa-times"></span>
    </div>
  </div>

  <script>

  </script>
  {% endfor %}

  <div class="container">
    <div class="row">
      <div class="main-search">
        <input type="text" name="Search" placeholder="Search...">
        <button>SEARCH</button>
      </div>
    </div>
  </div>

  {% include "login_register.html" %}

  <!--********************** Login Popup END ************************-->


  <script>
    var alertBox = document.getElementById("msg");
    const l_form = document.getElementById("login-form");
    const login_email = document.getElementById("login_email");
    const login_password = document.getElementById("login_password");
    const csrf = document.getElementsByName("csrfmiddlewaretoken");

    login_email.addEventListener('change', function validation() {
      var l_form = document.getElementById("login-form");
      var login_email = document.getElementById("login_email").value;
      var text = document.getElementById("e-error");
      var pattern = /^[^ ]+@[^ ]+\.[a-z]{2,3}$/;

      if (login_email.match(pattern)) {
        l_form.classList.remove("invalid");
        document.getElementById("e-error").style.display = "none";
      } else {
        document.getElementById("e-error").style.display = "block";
        l_form.classList.add("invalid");
        text.innerHTML = '<p class="email_error">Invalid Email</p>';
      }
    });

    l_form.addEventListener("submit", function (e) {
      e.preventDefault();

      const fd = new FormData();
      fd.append("csrfmiddlewaretoken", csrf[0].value);
      fd.append("login_email", login_email.value);
      fd.append("login_password", login_password.value);

      $.ajax({
        type: "POST",
        url: "",
        enctype: "multipart/form-data",
        data: fd,
        success: function (response) {
          console.log(response);
          login_email.value = "";
          login_password.value = "";

          // Universal ALert Box Script START
          $('.alert').addClass("show");
          $('.alert').removeClass("hide");
          $('.alert').addClass("showAlert");
          setTimeout(function () {
            $('.alert').removeClass("show");
            $('.alert').addClass("hide");
          }, 7000);
          var alertBox = document.getElementById("msg");

          alertBox.innerHTML = `Successfully SIGN IN`;
          // Universal ALert Box Script END
        },
        error: function (error) {
          console.log("eeeee", error);
          // Universal ALert Box Script START
          $('.alert').addClass("show");
          $('.alert').removeClass("hide");
          $('.alert').addClass("showAlert");
          setTimeout(function () {
            $('.alert').removeClass("show");
            $('.alert').addClass("hide");
          }, 7000);
          alertBox.innerHTML = `Invalid Email or Password`;
          // Universal ALert Box Script END
        },
        cache: false,
        contentType: false,
        processData: false,
      });
    });
  </script>

  <!-- registration -->
  <script>
    var alertBox = document.getElementById("msg");
    const r_form = document.getElementById("register-form");
    const full_name = document.getElementById("full_name");
    const register_email = document.getElementById("register_email");
    const register_password = document.getElementById("register_password");
    const csrf = document.getElementsByName("csrfmiddlewaretoken");

    register_email.addEventListener('change', function validation() {
      var r_form = document.getElementById("register-form");
      var register_email = document.getElementById("register_email").value;
      var text = document.getElementById("e-error");
      var pattern = /^[^ ]+@[^ ]+\.[a-z]{2,3}$/;

      if (register_email.match(pattern)) {
        r_form.classList.remove("invalid");
        document.getElementById("e-error").style.display = "none";
      } else {
        document.getElementById("e-error").style.display = "block";
        r_form.classList.add("invalid");
        text.innerHTML = '<p class="email_error">Invalid Email</p>';
      }
    });

    r_form.addEventListener("submit", function (e) {
      e.preventDefault();

      const fd = new FormData();
      fd.append("csrfmiddlewaretoken", csrf[0].value);
      fd.append("full_name", full_name.value);
      fd.append("register_email", register_email.value);
      fd.append("register_password", register_password.value);

      $.ajax({
        type: "POST",
        url: "",
        enctype: "multipart/form-data",
        data: fd,
        success: function (response) {
          console.log(response);
          full_name.value = "";
          register_email.value = "";
          register_password.value = "";

          // Universal ALert Box Script START
          $('.alert').addClass("show");
          $('.alert').removeClass("hide");
          $('.alert').addClass("showAlert");
          setTimeout(function () {
            $('.alert').removeClass("show");
            $('.alert').addClass("hide");
          }, 7000);

          alertBox.innerHTML = `Successfully Submitted`;
          // Universal ALert Box Script END
        },
        error: function (error) {
          console.log("eeeee", error);
          // Universal ALert Box Script START
          $('.alert').addClass("show");
          $('.alert').removeClass("hide");
          $('.alert').addClass("showAlert");
          setTimeout(function () {
            $('.alert').removeClass("show");
            $('.alert').addClass("hide");
          }, 7000);
          alertBox.innerHTML = `Invalid Details`;
          // Universal ALert Box Script END
        },
        cache: false,
        contentType: false,
        processData: false,
      });
    });
  </script>


  <!-- Option 2: Separate Popper and Bootstrap JS -->

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
  <!-- font awesome -->
  <script src="https://kit.fontawesome.com/23b1f56e60.js"></script>
  <!-- // owl carousel -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

  <!-- // Custom Js // -->
  <script src="{% static 'assets/js/custom.js' %}"></script>
  <script>
    function messageBox(message) {
      console.log(message)
      var alertBox = document.getElementById("msg_alert");
      console.log(alertBox)
      const messageIcon = document.getElementById("alert-icon");
      $('.alert').addClass("show");
      $('.alert').removeClass("hide");
      $('.alert').addClass("showAlert");
      setTimeout(function () {
        $('.alert').removeClass("show");
        $('.alert').addClass("hide");
      }, 7000);


      alertBox.innerHTML = message;

      messageIcon.innerHTML = `<span class="fas fa-check-circle"></span>`
    }
    $('.add-remove-to-cart').click(function (e) {
      var product_id = $(this).attr('product_id')
      console.log(product_id)
      // alert('okkadslfkjals;dkj')

      $.ajax({
        url: '/addToCart/',
        data: {
          'product_id': product_id
        },
        dataType: 'json',
        success: function (data) {
          var message = data['message']
          messageBox(message)
        },
        error: function (data) {
          console.log('not okk')
        }
      });
    })
  </script>

  {% block script %}
  {% endblock script %}
  <script>

  </script>

  <script>
    $(document).ready(function () {
      $(".tabs_content .tab_content").hide();
      $(".tabs_content .tab_content:first-child").show();

      $(".fm-tabs-bar li").click(function () {

        $(".fm-tabs-bar li").removeClass("active");
        $(this).addClass("active");

        var current_tab = $(this).attr("data-list");
        $(".tab_content").hide();
        $("." + current_tab).show();
      })
    });
  </script>

  <!-- Show Password -->
  <script>
    $(document).ready(function () {
      $(".toggle-password").click(function () {
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
          input.attr("type", "text");
        } else {
          input.attr("type", "password");
        }
      });
    });
  </script>

  <script>
    $("#register-form").submit(function (e) {
      e.preventDefault();
      var serializedData = $(this).serialize();
      $.ajax({
        type: 'POST',
        url: "{% url 'register' %}",
        data: serializedData,
        success: function (obj) {
          $(`#register-error-email`).html('')
          $(`#register-error-password2`).html('')
          $("#register-form").trigger('reset');
          $('#sign_in_tab').click()

          $('#registeration-success-text').show()
        },
        error: function (obj) {

          var field = obj['responseJSON']['field']
          var message = obj['responseJSON']['message']
          console.log(obj)
          Object.keys(obj['responseJSON']).forEach(function (key) {
            $(`#register-error-email`).html('')
            $(`#register-error-password2`).html('')
          });
          Object.keys(obj['responseJSON']).forEach(function (key) {
            var htmlData = ''
            console.log(key, obj['responseJSON'][key])
            for (let index = 0; index < obj['responseJSON'][key].length; index++) {
              var errorMessage = obj['responseJSON'][key][index];
              htmlData += `<ul><li>${errorMessage}</li></ul>`
            }
            $(`#register-error-${key}`).html(htmlData)
          });
        }
      })
    })
    $('#login-success-text').hide()
    $('#registeration-success-text').hide()

    function sleepFor(sleepDuration) {
      var now = new Date().getTime();
      while (new Date().getTime() < now + sleepDuration) {
        /* Do nothing */
      }
    }
    $("#login-form").submit(function (e) {
      e.preventDefault();
      var serializedData = $(this).serialize();
      $.ajax({
        type: 'POST',
        url: "{% url 'login' %}",
        data: serializedData,
        success: function (response) {
          $('#registeration-success-text').hide()
          $('#login-email-error-text').html('')
          $('#login-password-error-text').html('')
          $('#login-success-text').show()

          setTimeout(function () {
            location.reload('')
          }, 1200)

        },
        error: function (response) {
          var field = response['responseJSON']['field']
          var message = response['responseJSON']['message']
          console.log(field, message)
          if (field == 'password') {
            $('#login-password-error-text').html('')
            $('#login-password-error-text').show()
            $('#login-password-error-text').html(message)
            $('#login-email-error-text').hide('')
          }
          if (field == 'email') {
            $('#login-email-error-text').html('')
            $('#login-email-error-text').show()
            $('#login-email-error-text').html(message)
            $('#login-password-error-text').html('')
            $('#login-password-error-text').hide()

          }
        }
      })
    })
  </script>

  <script>
    $('#product-search-button').click(function () {
      var product_value = $('#product-search').val()
      if (product_value != '') {
        window.location.replace(`/shop/?title=${product_value}`);
      }
    })
  </script>
</body>

</html>