* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a,
a:hover {
    color: #212529;
}

p {
    margin-bottom: 0px;
}

.scroll {
    height: 100%;
    overflow: hidden;
}

/********************************************** My Cart START **********************************************/
.my-cart {
    margin-top: 30px;
    min-height: calc(100vh - 620px);
}

.cart-title {
    margin: 20px 0px;
    padding: 10px 0px;
    border-bottom: 2px solid #322c1070;
    text-align: center;
}

.cart-title .item {
    text-align: start;
}

.cart-title h5 {
    font-size: 20px;
    font-weight: 600;
}

/********************************************** Cart Product START **********************************************/
.cart-product {
    position: relative;
    border-bottom: 2px solid #322c104a;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

.remove-icon{
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
    position: absolute;
    top: 6%;
}

.remove-icon img{
    width: 20px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 3px;
}

.remove-icon img:hover{
    cursor: pointer;
    filter: grayscale(1) invert(1);
    background: aliceblue;
}

.cart-product .product-detail {
    display: flex;
    justify-content: start;
    align-items: center;
}

.product-detail img {
    margin: 10px 20px 28px 0px;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    object-fit: cover;
}

.cart-product p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
}

/******************************************  Cart Plus Minus Buttons START ******************************************/
.cart-quantity ul li.num-li input {
    font-size: 11px;
    text-align: center;
    width: 20px;
    color: black;
    border-width: 0px;
}

.cart-quantity ul li {
    font-size: 11px;
    padding: 4px 8px;
    cursor: pointer;
    border: 1px solid black !important;
}

.cart-quantity ul li:hover {
    background-color: black;
    color: white;
}

.cart-quantity ul li.num-li:hover {
    background-color: unset !important;
}

.cart-quantity ul li.num-li input:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}
/******************************************  Cart Plus Minus Buttons END ******************************************/

/********************************************** Cart Product END **********************************************/

/********************************************** Cart Buttons START **********************************************/
.cart-button {
    padding: 10px 0px 20px 0px;
    justify-content: space-between;
}

.col-12.discount-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.discount-btn input[type="text"] {
    padding: 0px 15px;
    height: 50px;
    width: 42%;
    border: 1px solid #ced4da;
}
.cart-button form{
    width: 65%;
}

.discount-btn button {
    background: black;
    color: #fff;
    padding: 15px 50px;
    cursor: pointer;
}

.cart-button span {
    padding: 12px 50px;
    font-size: 16px;
    /* font-weight: 600; */
    letter-spacing: 1px;
    cursor: pointer;
    border: 1px solid black;
}

.cart-button button{
    background: black;
    color: #fff;
    outline: unset;
    padding: 12px 50px;
    font-size: 16px;
    /* font-weight: 600; */
    letter-spacing: 1px;
    cursor: pointer;
    border: 1px solid black;
}

.add-cart-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.add-cart-btn a {
    text-decoration: none;
}

.add-cart-btn span {
    padding: 16px 50px;
    font-size: 16px;
    /* font-weight: 600; */
    letter-spacing: 1px;
    cursor: pointer;
    background: black;
    color: #fff;
    text-transform: capitalize;
}

/********************************************** Cart Buttons START **********************************************/


/********************************************** TOTAL BILL Section START **********************************************/
.row.my-cart-bill {
    display: flex;
    justify-content: flex-end;
}
.cart-total {
    border: 1px solid #ced4da;
    padding-left: 0px;
    padding-right: 0px;
    margin: 60px 0px;
    width: 40%;
}

.cart-total .col-md-6.col-12 {
    padding-right: 0px;
    padding-left: 0px;
}

.cart-bill {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    padding: 10px 0px;
    font-size: 20px;
    /* font-weight: 600; */
    letter-spacing: 1px;
}

.sub-total,
.cart-shipping, .cart-discount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0px 20px;
    font-size: 18px;
    /* font-weight: 600; */
    letter-spacing: 1px;
}
.cart-tax{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    /* font-weight: 600; */
    letter-spacing: 1px;
}

.total-bill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 20px;
    /* font-weight: 600; */
    letter-spacing: 1px;

}

.bill-detail {
    background-color: #f8f4f5;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
}

.total-bill-btn {
    background: black;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    /* font-weight: 600; */
    letter-spacing: 1px;
    text-transform: capitalize;
}
.total-bill-btn a{
    color: #fff;
}

/********************************************** TOTAL BILL Section END **********************************************/



/********************************************** My Cart END **********************************************/