{% extends 'password_reset/password_reset_base.html' %}
{% load static %}

{% block content %}
<div class="site-content">
    <div class="container">

        <div class="row">

            <div class="offset-lg-3 col-lg-6 pass_link">
<!-- Register -->
<div class="card p-5 mb-2 mt-2">
    <div class="card__header">
        <h4>Link Sent to your Email</h4>
    </div>
    <div class="card__content">
<p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
</p>
<p>

    
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
</p>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock content %}