{% extends 'password_reset/password_reset_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="site-content">
    <div class="container">

        <div class="row ">

            <div class="offset-lg-3 col-lg-6 pass_link">
    
    <div class="card  p-5 mb-2 mt-2">
        <div class="card__header">
            <h4>Reset Password</h4>
        </div>
        {% if validlink %}
        <article class="card__content">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}<br>
                    {{ field | add_class:"form-control" }}
                    {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary-inverse btn-lg btn-block forgot_btn">Submit</button>
            </form>
        </article>
        {% else %}
        <article class="card__content">
            <p>
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
            </p>
        </article>
        {% endif %}
    </div>
</div>
</div>
</div>
</div>
    {% endblock content %}