{% extends 'password_reset/password_reset_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="site-content">
    <div class="container">

        <div class="row p-5 mb-2 mt-2">

            <div class="offset-lg-3 col-lg-6">
                <!-- Register -->
                <div class="card">
                    <div class="card__header">
                        <h4>Login Now</h4>
                    </div>
                    <div class="card__content">
<p>
    Your password has been set. You may go ahead and <a href="{% url 'home' %}">Log in</a> now.
</p>
</div>

{% endblock content %}