{% load static %}
<html>

<head>
    <style>
        * {

            font-family: "Centuma", sans-serif;
        }

        .fusion-text {
            padding-left: 100px;
            padding-right: 100px;
        }

        .fusion-text h3 {
            font-size: 20px;
        }
    </style>
</head>

<body>
    <div class="fusion-builder-row fusion-row" style="margin-bottom:50px;">
        <div style="margin-top:50px;">
            <div class="fusion-column-wrapper"
                style="padding: 0px; background-position: left top; background-repeat: no-repeat; background-size: cover; height: auto;">
                <div class="fusion-text">
                    <h3 style="text-align: center; --fontSize:20; line-height: 1.3; --minFontSize:20;"><strong>PRIVACY
                            POLICY</strong></h3>
                    <!-- <p>&nbsp;</p> -->
                    <p style="margin-top:40px;">Under the laws of cybercrime and the UAE consumer privacy protection
                        laws, <a href="" target="_blank" style="color: #000;text-decoration: none;"><strong>Dolce E
                                Fiore</strong></a> is committed to protecting
                        our customer information collected through this
                        and all partner websites, contact pages, phones and other communication channels with our
                        customers.</p>
                    <ul style="list-style-type: none;padding-left: 20px;">
                        <li>- All credit / bank card details and personal information will NOT be stored, sold, shared,
                            leased or leased to any third party.</li>
                        <li>- Debit / Credit Card details have never been shared or passed on to any third party.</li>
                        <li>- Dolce E Fiore may change its terms and conditions, as well as its privacy policy to comply
                            with any rebellion or modern requirements and challenges. We encourage our visitors to
                            always
                            visit these pages to know all the changes. Policies must be effective from the date of
                            publication.</li>
                    </ul>
                    <p>Here are some privacy concerns and their answers</p>
                    <h3 style="--fontSize:20; line-height: 1.3; --minFontSize:20;">DETAILS INCLUDED
                    </h3>
                    <p>We can find some or all of the details below</p>
                    <ul style="list-style-type: none;padding-left: 20px;">
                        <li>- Sender name, phone number, email address</li>
                        <li>- Name of recipients, phone number, delivery address</li>
                        <li>- Birthday</li>
                    </ul>
                    <h3 style="--fontSize:20; line-height: 1.3; --minFontSize:20;">HAVE WE SAVED THIS?</h3>
                    <p>We only store the following details of our records</p>
                    <ul style="list-style-type: none;padding-left: 20px;">
                        <li>- Sender name, phone number, email address</li>
                        <li>- Name of recipients, phone number, delivery address</li>
                        <li>- All order details as submitted by the sender</li>
                    </ul>
                    <p><strong>WE DO NOT KEEP CREDIT CARD DETAILS, DEBIT CARD DETAILS, OR ANY KIND OF CUSTOMER
                            CENTER.</strong></p>
                    <h3 style="--fontSize:20; line-height: 1.3; --minFontSize:20;">DATA SECURITY</h3>
                    <p>
                        This website is secure and secure. Several steps are being taken to ensure data security.
                        Including the installation of anti malwares, anti spywares, anti phishing and other softwares,
                        security certificates such as site locks and godaddy signs are also included.</p>
                    <p>We assure our customers that all information they submit to the site is completely secure and
                        confidential.
                    </p>
                    <h3 style="--fontSize:20; line-height: 1.3; --minFontSize:20;">USE OF DATA
                    </h3>
                    <p>
                        By entering details, customers agree to the time when their email will be used to send them
                        promotional emails. We may use the data collected through the above channels to personalize
                        products and messages to your customers. We can send weekly emails for promotions. For <a
                            href="" target="_blank" style="color: #000;text-decoration: none;"><strong>Dolce E
                                Fiore</strong></a>, harassment is taken very seriously. Customers have the right to
                        unsubscribe and will no
                        longer be bothered.
                    </p>
                    <p>
                        <a href="" target="_blank" style="color: #000;text-decoration: none;"><strong>Dolce E
                                Fiore</strong></a> reserves the right to disclose information to security officials on
                        court orders
                        in accordance with local law whenever necessary.
                    </p>
                    <h3 style="--fontSize:20; line-height: 1.3; --minFontSize:20;">USE OF COOKIES</h3>
                    <p>
                        We may use cookies and other web technologies for a variety of purposes, including the provision
                        of the best services and assistance to make the website more accessible and easier to use.
                        Cookies are a great way to save your time and easy access to the website over time. When times
                        are saved, you can easily navigate across the website while your information is stored for you
                        to use on exit again.
                    </p>
                    <p>
                        Please be informed that this website has been uploaded by the Google Analytics Tracking Code,
                        which records user visits and user behavior and patterns throughout the website. Google Tracking
                        codes may use cookies stored on your site for statistical purposes. These statistics are used
                        only for our record, study and business improvement and on our website.
                    </p>
                    <h3 style="--fontSize:20; line-height: 1.3; --minFontSize:20;">PRIVACY POLICY FOR OTHER WEBSITES
                    </h3>
                    <p>
                        <a href="" target="_blank" style="color: #000;text-decoration: none;"><strong>Dolce E
                                Fiore</strong></a> is not responsible for any privacy policy for websites related to
                        online flower
                        and chocolate stores or for linking, identifying or collaborating with them.
                    </p>
                    <h3 style="--fontSize:20; line-height: 1.3; --minFontSize:20;">DATA CORRECTION
                    </h3>
                    <p>
                        For any adjustments or updates to your order, please email us at <a
                            href="mailto:xyz@dolceefiore.com"
                            style="color: #000;text-decoration: none;"><strong>xyz@dolceefiore.com</strong></a>
                    </p>
                </div>
                <div class="fusion-clearfix"></div>
            </div>
        </div>
    </div>
</body>

</html>