{% load static %}
<html>

<head>
    <style>
        * {

            font-family: "Centuma", sans-serif;
        }

        .fusion-text {
            padding-left: 100px;
            padding-right: 100px;
        }

        .fusion-text h3 {
            font-size: 20px;
        }
    </style>
</head>

<body>
    <div class="fusion-builder-row fusion-row" style="margin-bottom:50px;">
        <div style="margin-top:50px;">
            <div class="fusion-column-wrapper"
                style="padding: 0px; background-position: left top; background-repeat: no-repeat; background-size: cover; height: auto;">
                <div class="fusion-text">
                    <h3 style="text-align: center; --fontSize:20; line-height: 1.3; --minFontSize:20;"><strong>Terms and
                            Conditions</strong></h3>
                    <!-- <p>&nbsp;</p> -->
                    <p style="margin-top:40px;">These Terms and Conditions ("Terms and Conditions") are the terms and
                        conditions <a href="" target="_blank" style="color: #000;text-decoration: none;"><strong>Dolce E
                                Fiore</strong></a> ("us / we") that make this website available to you. These Terms and
                        Conditions govern your use of the <a href="" target="_blank"
                            style="color: #000;text-decoration: none;"><strong>Dolce E
                                Fiore</strong></a> website.</p>
                    <h3 style="--fontSize:20; line-height: 1.3; --minFontSize:20;">Products
                    </h3>
                    <p>All products displayed on this website are available for delivery. Certain floral and bouquet
                        products can be propagated to ensure longevity. All products are subject to availability. In the
                        event of a supply failure, we reserve the right to replace a product of equal value and quality
                        without notice. In the event that we are able to provide you with all or part of your order (any
                        product or product that may replace you at all), we will notify you immediately and pay your
                        payment in full within 30 days after the intended delivery date. We will make every effort to
                        maintain the consistent look and feel of the setting by paying attention to the overall
                        composition, size, style, and color combination.</p>
                    <h3 style="--fontSize:20; line-height: 1.3; --minFontSize:20;">Prices</h3>
                    <p>
                        Prices listed on the <a href="" target="_blank"
                            style="color: #000;text-decoration: none;"><strong>Dolce E
                                Fiore</strong></a> Website may change from time to time and may be subject to
                        seasonal availability of other flowers. Product prices cover local delivery fees. billing for
                        your chosen delivery location can be viewed in the details of the site delivery details. We
                        reserve the right to change without notice, price, or price of anything, or all products listed
                        on the <a href="" target="_blank" style="color: #000;text-decoration: none;"><strong>Dolce E
                                Fiore</strong></a> Website.
                    </p>
                    <h3 style="--fontSize:20; line-height: 1.3; --minFontSize:20;">Orders / Payments</h3>
                    <p>
                        During the order process, you will be required to provide us with your full details, including
                        the correct postal code, as well as that of the intended recipient and all required payment
                        details. We accept payments for all major credit and / or debit cards, store cards and any other
                        as we may specify from time to time. By clicking the 'opt-out' button at the end of the order
                        process, you agree to be bound by our terms and conditions contained in these Terms and
                        Conditions and to appear anywhere on <a href="" target="_blank"
                            style="color: #000;text-decoration: none;"><strong>Dolce E
                                Fiore</strong></a> website. Delivery of your order is subject to
                        our acceptance of this offer. We will send an email confirmation of your order details to the
                        email address provided. We will not consider ourselves your contractors until we issue this
                        email confirmation.
                    </p>
                    <h3 style="--fontSize:20; line-height: 1.3; --minFontSize:20;">Delivery
                    </h3>
                    <p>
                        General delivery details can be found on the Delivery Information page as well as standard
                        prices. Certain locations will be charged higher or lower than the standard delivery fee.
                        Selected products are not available for delivery in certain locations - where possible we will
                        advise you on these restrictions before placing your order.
                    </p>
                    <p>
                        Delivery Services - If your delivery needs to be done on the same day or at a later time please
                        call our phone number to place your order. Your intended delivery date will be confirmed in your
                        email order confirmation. We may process orders received on Sundays or Public Holidays on the
                        next business day. Delivery is not available on Sundays or public holidays, orders will be
                        shipped the next working day.
                    </p>
                    <p>
                        To avoid problems or delays with delivery, please be sure to include full address details,
                        including the correct postal code of the intended recipient and the phone number, as well as
                        your daytime phone number or email address so we can notify you of the event when delivery
                        problems occur. In the case of delivery in certain areas, where a third party is involved, such
                        as offices, hospitals, funeral directors, and other business premises, the signature of any
                        person authorized to accept delivery on behalf of the organization will be accepted as proof of
                        delivery to your chosen recipient.
                    </p>
                    <p>
                        Please note that <a href="" target="_blank"
                            style="color: #000;text-decoration: none;"><strong>Dolce E
                                Fiore</strong></a> is obliged to deliver only the address you quoted (or to a
                        neighbor if no one is at home). ). When the service provider is unable to find a recipient, they
                        will deliver it to a neighbor, leave it in a safe place, or leave a card at the address for the
                        recipient to contact. In the event of difficulty in delivering your order to the intended
                        recipient, we reserve the right to contact the recipient using the information you provide at
                        the time of placing your order. Before placing your order, please review delivery details and
                        prices.
                    </p>
                    <h3 style="--fontSize:20; line-height: 1.3; --minFontSize:20;">Cancellation</h3>
                    <p>
                        In the event that any customer places an order with <a href="" target="_blank"
                            style="color: #000;text-decoration: none;"><strong>Dolce E
                                Fiore</strong></a>, and then needs to cancel the
                        order, cancellation must be made prior to delivery. If cancellation is received after the order
                        is delivered, no refund can be issued. Cancellations will not be accepted if the customer places
                        an order but provides details that prevent direct delivery, such as in the wrong office or home
                        address. The customer may receive new information so that the order can be properly delivered
                        using the correct details. To amend or cancel your order, please contact <a href=""
                            target="_blank" style="color: #000;text-decoration: none;"><strong>Dolce E
                                Fiore</strong></a> during
                        business hours.
                    </p>
                    <h3 style="--fontSize:20; line-height: 1.3; --minFontSize:20;">Disclaimer
                    </h3>
                    <p>
                        While we agree to use all reasonable efforts to ensure that the <a href="" target="_blank"
                            style="color: #000;text-decoration: none;"><strong>Dolce E
                                Fiore</strong></a> site is fully
                        functional and infallible we cannot guarantee this, therefore, we do not accept liability for
                        any defects and / or disruptions of the <a href="" target="_blank"
                            style="color: #000;text-decoration: none;"><strong>Dolce E
                                Fiore</strong></a> Website and will be relieved of our
                        responsibility.
                    </p>
                </div>
                <div class="fusion-clearfix"></div>
            </div>
        </div>
    </div>
</body>

</html>